In [150]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [151]:
df=pd.read_csv('/Users/vallirajasekar/Desktop/Insurance_Charges_Calculation/Data/Data_Preprocessing.csv')

In [152]:
df.head()

,age,bmi,children,charges,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,...,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history,family_medical_history
0,25,25.38,2,20390.899218,1,0,0,1,0,1,...,0,0,0,0,1,0,1,0,3,2
1,49,38.21,3,19268.309838,0,1,0,1,0,1,...,1,0,0,0,1,0,0,1,3,2
2,64,20.12,2,9563.655011,1,0,1,0,1,0,...,0,1,0,0,0,1,0,0,2,3
3,53,30.51,4,15845.293730,0,1,1,0,0,0,...,1,0,1,0,0,0,0,1,1,2
4,45,39.68,1,14892.145930,1,0,1,0,0,1,...,0,1,0,0,0,0,1,0,2,2

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 25 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   age                              1000000 non-null  int64
 1   bmi                              1000000 non-null  float64
 2   children                         1000000 non-null  int64
 3   charges                          1000000 non-null  float64
 4   gender_female                    1000000 non-null  int64
 5   gender_male                      1000000 non-null  int64
 6   smoker_no                        1000000 non-null  int64
 7   smoker_yes                       1000000 non-null  int64
 8   region_northeast                 1000000 non-null  int64
 9   region_northwest                 1000000 non-null  int64
 10  region_southeast                 1000000 non-null  int64
 11  region_southwest                 1000000 non-null  int64
 12  exercise_frequency_Frequently    1000000 non-null  int64
 13  exercise_frequency_Never         1000000 non-null  int64
 14  exercise_frequency_Occasionally  1000000 non-null  int64
 15  exercise_frequency_Rarely        1000000 non-null  int64
 16  occupation_Blue collar           1000000 non-null  int64
 17  occupation_Student               1000000 non-null  int64
 18  occupation_Unemployed            1000000 non-null  int64
 19  occupation_White collar          1000000 non-null  int64
 20  coverage_level_Basic             1000000 non-null  int64
 21  coverage_level_Premium           1000000 non-null  int64
 22  coverage_level_Standard          1000000 non-null  int64
 23  medical_history                  1000000 non-null  int64
 24  family_medical_history           1000000 non-null  int64
dtypes: float64(2), int64(23)
memory usage: 190.7 MB

In [154]:
X=df.drop('charges',axis=1)
y=df['charges']

In [155]:
from sklearn.model_selection import train_test_split

In [156]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=0)

In [157]:
X_test.reset_index(inplace=True)

In [158]:
X_train.reset_index(inplace=True)

In [159]:
X_train.drop('index',axis=1,inplace=True)

In [160]:
#X_test.reset_index(inplace=True)

In [161]:
X_test.drop('index',axis=1,inplace=True)

In [162]:
X_live=X_test[200000:]

In [163]:
y_live=y_test[200000:]

In [164]:
X_test=X_test[:200000]

In [165]:
y_test=y_test[:200000]

In [166]:
X_live.shape

(100000, 24)

In [167]:
X_train

,age,bmi,children,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,...,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history,family_medical_history
0,21,28.54,1,0,1,0,1,0,1,0,...,0,0,0,0,1,0,1,0,3,2
1,25,24.83,1,0,1,1,0,0,1,0,...,0,0,0,1,0,1,0,0,2,3
2,44,22.78,1,0,1,0,1,1,0,0,...,1,0,0,1,0,0,0,1,2,1
3,46,23.03,0,1,0,1,0,0,1,0,...,1,0,0,1,0,0,0,1,2,1
4,65,47.87,2,0,1,1,0,1,0,0,...,1,0,1,0,0,0,0,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,50,21.26,5,1,0,0,1,0,0,1,...,0,0,0,0,1,0,0,1,2,3
699996,43,20.99,0,0,1,1,0,1,0,0,...,1,0,1,0,0,0,0,1,2,2
699997,25,42.37,2,1,0,1,0,0,0,1,...,0,1,0,0,0,1,0,0,2,2
699998,25,28.75,3,0,1,1,0,0,0,1,...,0,0,0,0,1,0,0,1,2,2
699999,28,43.42,1,0,1,1,0,0,0,0,...,0,0,0,0,1,0,0,1,2,2

In [168]:
#X_live=X_test.iloc[2000:30000]

In [169]:
print(f'The shape of X_train:{X_train.shape},X_test:{X_test.shape},y_train:{y_train.shape},y_test:{y_test.shape},X_live:{X_live.shape},y_live:{y_live.shape}')

The shape of X_train:(700000, 24),X_test:(200000, 24),y_train:(700000,),y_test:(200000,),X_live:(100000, 24),y_live:(100000,)

In [170]:
X_live

,age,bmi,children,gender_female,gender_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,...,exercise_frequency_Rarely,occupation_Blue collar,occupation_Student,occupation_Unemployed,occupation_White collar,coverage_level_Basic,coverage_level_Premium,coverage_level_Standard,medical_history,family_medical_history
200000,40,29.30,4,1,0,1,0,0,1,0,...,0,0,0,0,1,0,1,0,3,2
200001,49,19.38,4,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,3,2
200002,39,42.62,4,0,1,1,0,1,0,0,...,0,0,0,0,1,0,0,1,3,3
200003,52,41.56,3,0,1,0,1,0,0,1,...,1,0,1,0,0,0,1,0,2,2
200004,21,48.31,2,1,0,0,1,1,0,0,...,0,0,0,0,1,0,0,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,52,37.92,0,0,1,0,1,1,0,0,...,0,0,0,1,0,0,1,0,2,1
299996,55,49.56,3,0,1,0,1,0,1,0,...,0,0,0,1,0,0,1,0,2,3
299997,49,24.76,2,0,1,0,1,0,0,0,...,0,1,0,0,0,0,1,0,3,3
299998,30,22.20,2,0,1,0,1,0,1,0,...,1,1,0,0,0,1,0,0,3,3
299999,53,45.92,1,0,1,1,0,0,1,0,...,0,0,0,0,1,0,0,1,3,1

In [171]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
#import xgboost as xg 
from sklearn.ensemble import AdaBoostRegressor

In [172]:
def model_building(X_train,y_train):
    model_1=LinearRegression()
    model_1.fit(X_train,y_train)
    model_1.score(X_train,y_train)
    print(f'The LinearRegression score is {model_1.score(X_train,y_train)}')
    model_2=Lasso()
    model_2.fit(X_train,y_train)
    model_2.score(X_train,y_train)
    print(f'The Lasso score is {model_2.score(X_train,y_train)}')
    model_3=Ridge()
    model_3.fit(X_train,y_train)
    model_3.score(X_train,y_train)
    print(f'The Ridge score is {model_3.score(X_train,y_train)}')
    model_4=RandomForestRegressor()
    model_4.fit(X_train,y_train)
    model_4.score(X_train,y_train)
    print(f'The RandomForestRegressor score is {model_4.score(X_train,y_train)}')
    model_5=AdaBoostRegressor()
    model_5.fit(X_train,y_train)
    model_5.score(X_train,y_train)
    print(f'The AdaBoostRegressor score is {model_5.score(X_train,y_train)}')

In [173]:
model_building(X_train,y_train)

The LinearRegression score is 0.6984638506921351
The Lasso score is 0.6984622942847518
The Ridge score is 0.698465642458436
The RandomForestRegressor score is 0.9726579732603393
The AdaBoostRegressor score is 0.7550090194118758

In [175]:
model_4=RandomForestRegressor()
model_4.fit(X_train,y_train)
model_4.score(X_train,y_train)
print(f'The RandomForestRegressor score is Training is {model_4.score(X_train,y_train)}')
model_4.score(X_test,y_test)
print(f'The RandomForestRegressor score is Training is  {model_4.score(X_test,y_test)}')

The RandomForestRegressor score is Training is 0.9726639345661012
The RandomForestRegressor score is Training is  0.8037138569463971

In [177]:
param_grid = {
    'n_estimators': [50,150],
    'max_depth': [10, 20],
    'min_samples_split': [4,6],
    'min_samples_leaf': [2, 4],
    'max_features': ['sqrt', 'log2']
}

In [179]:
from sklearn.model_selection import GridSearchCV

In [180]:
rf_regressor = RandomForestRegressor()

# Create GridSearchCV with the specified parameter grid
grid_search = GridSearchCV(rf_regressor, param_grid, cv=5, scoring='neg_mean_squared_error')

# Fit the model to find the best hyperparameters
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(),
             param_grid={'max_depth': [10, 20],
                         'max_features': ['sqrt', 'log2'],
                         'min_samples_leaf': [2, 4],
                         'min_samples_split': [4, 6],
                         'n_estimators': [50, 150]},
             scoring='neg_mean_squared_error')

In [181]:
grid_search.score(X_train, y_train)

-2433500.488491974

In [182]:
print("Best Parameters:", grid_search.best_params_)
print("Best Mean Score:", -grid_search.best_score_)

Best Parameters: {'max_depth': 20, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 6, 'n_estimators': 150}
Best Mean Score: 3586664.8601067504

In [183]:
grid_search.best_estimator_

RandomForestRegressor(max_depth=20, max_features='sqrt', min_samples_leaf=4,
                      min_samples_split=6, n_estimators=150)

In [184]:
best_model = grid_search.best_estimator_

In [186]:
best_model.score(X_train,y_train)

0.8753486701137808

In [187]:
best_model.score(X_test,y_test)

0.8167455067493904

In [193]:
y_pred=best_model.predict(X_test)

In [188]:
import os
print(os.getcwd())

/Users/vallirajasekar/Desktop/Insurance_Charges_Calculation/Notebooks

In [189]:
import pickle

In [190]:
with open('best_model.pkl', 'wb') as file:
    pickle.dump(best_model, file)

In [192]:
with open('random_forest_model.pkl', 'wb') as file:
    pickle.dump(model_4, file)

In [197]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
mae

1505.6121934295916

In [198]:
y_pred

array([16495.77632925, 16343.32493934, 12028.83954802, ...,
       17593.43767901, 20123.74515279, 15848.63569305])

In [199]:
y_test

157105    14726.215906
374554    16781.334925
688694    11281.762225
265381    18474.362137
955415    19806.025098
              ...
957385    13391.524520
872294    25909.292108
295258    16269.261930
568161    17128.229273
275332    16162.739477
Name: charges, Length: 200000, dtype: float64